.list-container{
	display:grid;
	width:70vw;
	margin-top:1vmax;
	grid-template-columns: 1fr;
	grid-template-rows: auto minmax(50vmax,auto);
	grid-gap:1.5vmax;
	justify-content:center;
}

.items-container{
	display:grid;
	grid-auto-flow: row;
	grid-auto-rows:3vmax;
	grid-gap:1.5vmax;
	align-items:center;

	padding: 1vw;
	min-height: 50vmax;

}
.items-not-checked{
	border:3px solid rgb(39, 240, 139);
	border-radius: 1.5vmax;
	background-color:rgb(201, 243, 218);
}
.items-checked{
	border:3px solid rgb(240, 180, 39);
	border-radius: 1.5vmax;
	background-color:rgb(240, 234, 181);
}
.switch-checked{
	justify-self:end;
	width:11vw;
	cursor:pointer;
	text-align: center;
	border:0.15vmax solid rgb(53, 153, 219);
	border-radius:0.5vmax;
	background-color:white;
}
