.list-container{
	display:grid;
	width:70vw;
	margin-top:1vmax;
	grid-template-columns: 1fr;
	grid-template-rows: auto minmax(50vmax,auto);
	grid-gap:1.5vmax;
	justify-content:center;
}

.items-container{
	display:grid;
	grid-auto-flow: row;
	grid-auto-rows:3vmax;
	grid-gap:1.5vmax;
	align-items:center;
	padding: 0.5vw;
	min-height: 50vmax;
}


.toggle {
	isolation: isolate;
	height: 30px;
	width: 60px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: -8px -4px 8px 0px #fff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #fff inset;
}
  
.toggle-state {
	display: none;
}
  
.indicator {
	height: 100%;
	width: 200%;
	background: #F0F0F3;
	border-radius: 15px;
	transform: translate3d(-75%, 0, 0);
	transition: transform .4s cubic-bezier(.85, .05, .18, 1.35);
	box-shadow: -8px -4px 8px 0px #fff, 8px 4px 12px 0px #d1d9e6;
}
  
.toggle-state:checked ~ .indicator {
	transform: translate3d(25%, 0, 0);
}
.label{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	justify-self: end;
}