.list-container{
	display:grid;
	grid-template-columns: 70vw;
	grid-auto-flow:row;
	justify-content:center;
}

.main-container{
	display:grid;
	grid-auto-flow: row;
	grid-auto-rows:3vmax;
	grid-gap:1.5vmax;
	align-items:center;

	margin:0.5vmax 0;
	padding: 1vw;
	height: 50vmax;

	border:3px solid rgb(39, 240, 139);
	border-radius: 1.5vmax;
	background-color:rgb(201, 243, 218);

}