@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap');

.container{
	display:grid;
	grid-template-rows: repeat(2,1fr);
	grid-template-areas:
	"title"
	"form";
	margin:1vmax;
	justify-items: center;
	align-items: center;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);;
	border-radius: 1.5vmax;
	height: 40vmax;
}
.title-container{
	min-width:15vw;
	text-align:center;
	user-select: none;
	padding:0.4vmax;
	grid-area:title;
	border-radius:0.5vmax;
	color: black;
	
}

.form-container{
	height:100%;
	width:100%;
	grid-area:form;
	display:grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-areas:
	"username"
	"password"
	"submit";
	justify-items: center;
	align-items: center;
}
.input{
	width:13vw;
}
.username-input{
	grid-area:username;
	width: 50%;
    border-radius: 15px;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
	border: none;
	height:50px;
	background-color: #F0F0F3;

}
.username-input[type='text']{
	font-weight: 600;
	letter-spacing: 1px;

	text-align: center;
	color: #282828;
}

.password-input{
	grid-area:password;
	width: 50%;
	border-radius: 15px;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
	border: none;
	height:50px;
	background-color: #F0F0F3;

}
.password-input[type='password']{
	font-weight: 600;
	letter-spacing: 1px;

	text-align: center;
	color: #282828;
}

.password-input::placeholder{

	font-weight: 600;
	letter-spacing: 1px;
	
	text-align: center;
}
.username-input::placeholder{
	
	font-weight: 600;
	letter-spacing: 1px;

	text-align: center;
}
.submit{
	height: 5vh;
	user-select: none;
	grid-area:submit;
	padding:0.3vmax;
	min-width:6vw;
	cursor:pointer;
	text-align: center;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);;
	border-radius:1vmax;
	border: none;
	background-color:#F0F0F3;
}
.submit:active{
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;

}
.title-text{
	font-size: 3vw;
	font-weight: 600;
	letter-spacing: 4px;
	font-family: Montserrat;
	
	

}
