.main-container{
	display:grid;
	width:70vw;
	margin-top:1vmax;
	grid-template-columns: 1fr;
	grid-auto-flow:row;
	grid-gap:1.5vmax;
	justify-content:center;
}

.list-container{
	display:grid;
	grid-auto-flow: row;
	grid-auto-rows:3vmax;
	grid-gap:1.5vmax;
	align-items:center;

	padding: 1vw;
	min-height: 50vmax;

	border:3px solid rgb(39, 240, 139);
	border-radius: 1.5vmax;
	background-color:rgb(201, 243, 218);

}