

.item-wrapper{
	display:grid;
	grid-template-columns: 3fr repeat(8,1fr);
	grid-template-areas:
	"item state-info png svg ngc state info edit check";
	grid-gap:1vw ;
	padding:0 1vmax;
	align-items:center;
	justify-items:center;
	border-radius: 25px;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
	border: none;	border-radius: 0.5vmax;
	height:4vmax;
	background-color: #F0F0F3;
}

.list-item{
	grid-area: item;
	justify-self:start;
	overflow: auto;
}

.btn-icon{
	background-color: #F0F0F3;
	cursor:pointer;
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
	border: none;
}
.btn-icon:active{
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}
.png{
	height: 1.5vmax;
	width: 5vw;
	grid-area: png;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.png:active{
	color: #035397;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}
.svg{
	height: 1.5vmax;
	width: 5vw;
	grid-area: svg;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.svg:active{
	color: #035397;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}
.ngc{
	height: 1.5vmax;
	width: 5vw;
	grid-area: ngc;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.ngc:active{
	color: #035397;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}
.info{
	grid-area: info;

}
.info:active{
	color : #5D5D5D;
}
.edit{
	grid-area: edit;

}
.edit:active{
	color : #5D5D5D;
}
.check{
	grid-area: check;
}
.check:active{
	color : #50CB93
}
.delete{
	grid-area: edit;
}
.state{
	grid-area: state;
}
.delete:active{
	color : #D54C4C;
}
a:link{
	color: #000;
	text-decoration: none;

}
.state-info{
	grid-area:state-info;
	height: 0.6vmax;
	width: 0.6vmax;
	border-radius: 50%;
	filter: blur(0.7px);
}
.pending{
	background-color: #FFAA4C;
}
.shipped{
	background-color: #15a1e2;
}
.completed{
	background-color: #1ea32f;
}

.text-item{
	padding: 0.5vmax;
	width: 8vmax;
	color:black	;
}