

.item-wrapper{
	display:grid;
	grid-template-columns: 3fr repeat(6,1fr);
	grid-template-areas:
	"item png svg gnc info edit check";

	grid-gap:1vw ;
	padding:0 1vmax;
	
	align-items:center;
	border:0.15vmax solid rgb(30, 127, 165);
	border-radius: 0.5vmax;
	overflow:hidden;
	height:100%;
}
.list-item{
	grid-area: item;
	overflow: auto;
}
.btn{
	cursor:pointer;
	text-align: center;
	border:0.15vmax solid rgb(53, 153, 219);
	border-radius:0.5vmax;
	background-color:white;
}
.btn:hover{
	background-color: rgb(199, 188, 188);
}
.png{
	grid-area: png;
	text-align: center;
}
.svg{
	grid-area: svg;
	text-align: center;
}
.gnc{
	grid-area: gnc;
	text-align: center;
}
.info{
	grid-area: info;
}
.edit{
	grid-area: edit;

}
.check{
	grid-area: check;

}