.sidebar{
	position:fixed;
	display:grid;
	grid-template-rows: 15vmax 4fr 1fr;
	grid-template-areas: 
	"upper"
	"info"
	"files";
	grid-row-gap:1vmax;
	margin-top:1vmax;
	left:72.5vw;
	top:0;
	width:23vw;
	height: 30vmax;
	padding:1vw;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
	border-radius: 0.5vmax;
	outline:0;
	background-color: #F0F0F3;
}
.top-container{
	grid-area: upper;
	position:fixed;
	display:grid;
	grid-template-columns: 20vw 1fr;
	grid-template-areas: "img close";
}
.info-container{
	display:grid;
	grid-area:info;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 4fr;
	grid-template-areas:
	"desc descText"
	"client clientText"
	"address addressText";
	grid-gap:1vmax;
	align-items: center;
}

.files-container{
	display:grid;
	grid-area:files;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-areas:
	"png svg ngc";
	align-items: center;
}

.png-info{
	justify-self: center;
	grid-area:png;
	height: 1.5vmax;
	width: 5vw;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.png-info:active{
		color : #035397;
		box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}

.svg-info{
	justify-self: center;
	grid-area:svg;
	height: 1.5vmax;
	width: 5vw;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.svg-info:active{
	color : #035397;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}


.ngc-info{
	justify-self: center;
	grid-area:ngc;
	height: 1.5vmax;
	width: 5vw;
	text-align: center;
	border-radius: 0.5vw;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	font-weight: 400;
}
.ngc-info:active{
	color : #035397;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}


.description{
	grid-area:desc;
	
}
.description-text{
	grid-area:descText;
	
}
.client{
	grid-area:client;
}
.client-text{
	grid-area:clientText;
}
.address{
	grid-area:address;
}
.description-text{
	grid-area:addressText;
}

.close-icon{
	grid-area:close;
	justify-self:right;
	text-align: center;
	margin-left: 10px;
	background-color: #F0F0F3;
	cursor:pointer;
	height: 2.4vw;
	width: 2.4vw;
	border-radius: 50%;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
	border: none;
}
.close-icon:active{
	color : #D54C4C;
	box-shadow:inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
}

.text{
	padding: 0.5vmax;
	height:1.3vmax;
	width:15vw;
	color:black	;
	overflow-x: auto;
}
.text-wrapper{
	border: none;
	box-shadow: inset 5px 5px 8px #cbced1, inset -5px -5px 8px #ffffff;
	background-color: #F0F0F3;
	border-radius: 0.5vmax;
	overflow:hidden
}
.image-container{
	background-color: #F0F0F3;
	border-radius: 0.5vmax;
	border: 5px solid #F0F0F3;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	grid-area: img;
	height: 15vmax;
}

.image{
	
	border-radius: 0.5vmax;
	justify-self:center;	
	width: 100%;
	height: 100%;
	object-fit:cover;
	
}
