.sidebar{
	position:fixed;
	display:grid;
	grid-template-rows: 15vw 4fr 1fr;
	grid-template-columns:9fr 1fr;
	grid-template-areas: 
	"img close"
	"info info"
	"files files";
	grid-row-gap:1vmax;
	margin-top:1vmax;
	left:72.5vw;
	top:0;
	width:23vw;
	height: 30vmax;
	padding:1vw;
	border: 0.2vw solid rgba(18, 95, 218, 0.424);
	background-color:rgba(114, 205, 233, 0.363);
	border-radius: 1vmax;
}
.info-container{
	display:grid;
	grid-area:info;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 4fr;
	grid-template-areas:
	"desc descText"
	"client clientText"
	"address addressText";
	grid-gap:1vmax;
	align-items: center;
}
.files-container{
	display:grid;
	grid-area:files;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-areas:
	"png svg gnc";
	align-items: center;
}
.png-container{
	grid-area:png;
	text-align: center;
}
.svg-container{
	grid-area:svg;
	text-align: center;
}
.gnc-container{
	grid-area:gnc;
	text-align: center;
}

.description{
	grid-area:desc;
}
.description-text{
	grid-area:descText;
}
.client{
	grid-area:client;
}
.client-text{
	grid-area:clientText;
}
.address{
	grid-area:address;
}
.description-text{
	grid-area:addressText;
}
.close-icon{
	grid-area:close;
	justify-self:right;
	cursor:pointer;
	transform:scale(1.5);
}

.text{
	padding: 0.5vmax;
	height:1.1vmax;
	background-color:white;
	overflow-x:auto;
	overflow-y:hidden;
}
.text-wrapper{
	border: 0.2vw solid rgba(18, 95, 218, 0.424);
	border-radius:1vmax;
	overflow:hidden;
}
.image{
	justify-self:center;
	align-self:center;
	max-width:100%;
	max-height:100%;
	border-radius:1vmax;
}
