@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');


html,body{
	font-size:1vmax;
	height: 100%;
	font-family: Montserrat, sans-serif;;
	background-color: #ececec;
}
#root{
	height: 100%;
}