
.input-item{
	margin:0.2vmax;
	width: 100%;
}
.buttons{

	width: 100%;
	display:grid;
	grid-area: buttons;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"submmit clear";
	align-items: center;
	justify-items: left;
}
.submmit{
	grid-area:submmit;
	cursor:pointer;
	transform: scale(1.5);
}
.clear{
	grid-area:clear;
	cursor:pointer;
	text-align: center;
	border:0.15vmax solid rgb(53, 153, 219);
	border-radius:0.5vmax;
	background-color:white;
}
.input-file{
	width:90%;
}
.input-container{
	display:grid;
	grid-template-rows:1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"input input buttons"
	"png svg gnc";

	grid-gap: 1.5vmax;
	align-items:center;
	justify-items: left;

		
	padding:1vw;
	border:3px solid rgb(39, 183, 240);
	border-radius: 1.5vmax;
	background-color:rgb(201, 226, 243);
}
.text-container{
	grid-area:input;
}
.png-container{
	grid-area:png;
}
.svg-container{
	grid-area:svg;
}
.gnc-container{
	grid-area:gnc;
}